.button {
  height: 40px;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 74px;
  width: 315px;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}

.front {
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 4px;
  box-shadow: black 2px 2px 5px;
}

.side-bar {
  background-color: green;
}

a {
  color: blue;
  font-weight: 600;
  cursor: pointer;
}

.central {
  position: relative;
  top: 11px;
  left: 10px;
  color: aliceblue;
  font-size: 24px;
  cursor: default;
}

.animation {
  animation-duration: 0.4s;
  animation-name: colored;
}

@keyframes colored {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 1em 1em 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  transform: rotateY(180deg);
}
